/*
    File: site.css
    Dominic Macias
    04/13/2021

    Universal Stylesheet
*/

/* GRID ITEMS AND CONTAINERS*/
.item1 {grid-area: header; position: sticky;}
.item2 {grid-area: nav;}
.item3 {grid-area: abtme;}
.item4 {grid-area: cntct;}

.grid-container {
	display: grid;
	grid-template-areas:
		'header  nav   nav   nav   nav   nav   nav   nav'
		' abtme abtme abtme abtme abtme abtme abtme abtme'
		' abtme abtme abtme abtme abtme abtme abtme abtme'
		' abtme abtme abtme abtme abtme abtme abtme abtme'
		' cntct cntct cntct cntct cntct cntct cntct cntct';
	padding: 5px;
	grid-gap: 5px;
	background-color: #0e4350;
	height: 100%;
}

.grid-container > div {
	background-color: #4d8080;
}

.grid-container > div:first-child, .grid-container > div:nth-child(2)  {
	background-color: #386f59;
}

/* MAIN */
* {
	box-sizing: border-box;
}

body {
	background-color: #2F4F4F;
	font-family: "Source Code Pro", monospace;
	color: white;
}

img {
    display: block;
    margin: auto;
    max-width: 240px;
}

h1, h2, p {
    text-align: center
}

h1 {
    font-size: 48px;
}

p {
	font-weight: 5px;
}

nav {
	padding-top: 2.5%;
	float: right;
}

i {
	display: inline-block;
	font-size: 36px;
}

nav a {
	text-decoration: none;
	color: white;
	font-size: 36px;
	padding: 20px;
}